<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Монгол банк албан ханш</title>
  <meta name="author" content="ankhaatk" />
  <link rel="Shortcut Icon" href="favicon.ico" />
  <style type="text/css">
    body      { margin:0px }
    p, td     { font-family:Tahoma; font-size:11px; color:#000 }
    a:link    { color:#20783e; text-decoration:underline }
    a:visited { color:#20783e; text-decoration:underline }
    a:hover   { color:#000; text-decoration:none }
    td.xansh  { overflow:hidden }

    #AED { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 0; width: 16px; height: 16px; padding-left:25px }
    #AUD { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -66px; width: 16px; height: 16px; padding-left:25px }
    #BGN { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -132px; width: 16px; height: 16px; padding-left:25px }
    #CAD { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -198px; width: 16px; height: 16px; padding-left:25px }
    #CHF { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -264px; width: 16px; height: 16px; padding-left:25px }
    #CNY { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -330px; width: 16px; height: 16px; padding-left:25px }
    #CZK { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -396px; width: 16px; height: 16px; padding-left:25px }
    #DKK { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -462px; width: 16px; height: 16px; padding-left:25px }
    #EGP { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -528px; width: 16px; height: 16px; padding-left:25px }
    #EUR { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -594px; width: 16px; height: 16px; padding-left:25px }
    #GBP { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -660px; width: 16px; height: 16px; padding-left:25px }
    #HKD { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -726px; width: 16px; height: 16px; padding-left:25px }
    #HUF { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -792px; width: 16px; height: 16px; padding-left:25px }
    #IDR { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -858px; width: 16px; height: 16px; padding-left:25px }
    #INR { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -924px; width: 16px; height: 16px; padding-left:25px }
    #JPY { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -990px; width: 16px; height: 16px; padding-left:25px }
    #KPW { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1056px; width: 16px; height: 16px; padding-left:25px }
    #KRW { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1122px; width: 16px; height: 16px; padding-left:25px }
    #KWD { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1188px; width: 16px; height: 16px; padding-left:25px }
    #KZT { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1254px; width: 16px; height: 16px; padding-left:25px }
    #MYR { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1320px; width: 16px; height: 16px; padding-left:25px }
    #NOK { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1386px; width: 16px; height: 16px; padding-left:25px }
    #NPR { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1452px; width: 16px; height: 16px; padding-left:25px }
    #NZD { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1518px; width: 16px; height: 16px; padding-left:25px }
    #PLN { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1584px; width: 16px; height: 16px; padding-left:25px }
    #RUB { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1650px; width: 16px; height: 16px; padding-left:25px }
    #SEK { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1716px; width: 16px; height: 16px; padding-left:25px }
    #SGD { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1782px; width: 16px; height: 16px; padding-left:25px }
    #THB { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1848px; width: 16px; height: 16px; padding-left:25px }
    #TRY { background: url(img/tugnuud.png) no-repeat top left; background-position: 0 -1914px; width: 16px; height: 16px; padding-left:25px }
    #TWD { background: url(img/tugnuud.png) no-repeat top left; background-position: -66px 0; width: 16px; height: 16px; padding-left:25px }
    #UAH { background: url(img/tugnuud.png) no-repeat top left; background-position: -66px -66px; width: 16px; height: 11px; padding-left:25px }
    #USD { background: url(img/tugnuud.png) no-repeat top left; background-position: -66px -127px; width: 16px; height: 16px; padding-left:25px }
    #ZAR { background: url(img/tugnuud.png) no-repeat top left; background-position: -66px -193px; width: 16px; height: 16px; padding-left:25px }
  </style>
</head>
<body>
  <table border=0 cellpadding=3 cellspacing=1 width=100% bgcolor=white>
    <tr bgcolor="#ededed">
      <td><strong>{{currency_title|escape}}</strong></td>
      <td><strong>{{currency_rate_title|escape}}</strong></td>
    </tr>
  <tbody>
  {% for row in hansh_list %}
    <tr bgcolor="#ffffff" >
      <td alt="{{row.name}}" class="xansh"><span id="{{row.code}}">{{row.code}}</span></td>
      <td align=right width=50%>{{row.rate}}</td>
    </tr>
  {% endfor %}
  </tbody><tfoot><tr><td>{{source|escape}} :</td><td align="right"><a href="{{source_link}}" target="_blank"><strong>» Монгол банк</strong></a></td></tr><!--
    -->{% if use_conv_tool %}
    <tr>
      <td colspan="2">
        <label for="mnt" style="width:70px; position:absolute; padding-right:10px; float:left;">Төгрөг </label>
          <input type="text" id="mnt" style="margin-left:85px; width:60%;" /> <br />
        <select id="rate" style="width:70px;position: absolute; padding-right: 10px; float: left;">{% for row in hansh_list %}
          <option value="{{row.rate_float}}">{{row.code}}</option>
        {% endfor %}</select>
        <input type="text" id="currency" style="margin-left:85px; width:60%;"/> </br>

      </td>
    </tr>
  {% endif %}</tfoot></table>

  {% if use_conv_tool %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $("#mnt").keyup(function() {
          var rate = parseFloat( $('select#rate option:selected').val() );
          var mnt_val = parseFloat( $(this).val() );
          $("#currency").val( parseFloat(mnt_val / rate ).toFixed(2) );
        });
        $("#currency").keyup(function() {
          var rate = parseFloat( $('select#rate option:selected').val() );
          var currency_val = parseFloat( $(this).val() );
          $("#mnt").val( parseFloat(rate * currency_val).toFixed(2) );
        });
        $("#rate").change(function() {
          $("#mnt").keyup();
        });
      })
    </script>
  {% endif %}
</body>
</html>
