<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Монгол банкны албан ханш татагч. " /> 

<meta name="keywords" content="Ханш татагч, Ханш, Монголбанк, monxansh, monxansh.appspot.com" /> 
<meta name="robots" content="follow" /> 
<meta name="robots" content="index, follow" /> 

<meta name="author" content="ankhaatk" /> 
<meta name="language" content="mn" /> 


<title>Ханш татагч</title>

<link rel="Shortcut Icon" href="favicon.ico" /> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1019855-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<style>
	.plus_one_div{
		float:left; 
		padding-top:8px;
	}
	.facebook_div{
		float:right;
		
	}
</style>
</head>
<body>
<div class="plus_one_div"><g:plusone href="http://monxansh.appspot.com"></g:plusone></div>
<div class="facebook_div">
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=225646060820419&amp;xfbml=1"></script><fb:like href="http://monxansh.appspot.com/" send="true" width="450" show_faces="true" action="like" font=""></fb:like>
</div>
<h1>Монгол банкны ханш татагч</h1>
	<h2>JSON format for jQuery</h2>
	<pre>jQuery.ajax({
		url : 'http://monxansh.appspot.com/xansh.json?currency=USD|EUR', 
		data_type: 'json',
		success : function(data) {
			jQuery.each(data, function(row) {
				// Format 
				// row.code 	- Код USD, EUR...
				// row.name 	- Нэр
				// row.rate 	- Ханш
				// row.last_date- Мэдээний огноо
				alert(row.code)
			});
		}
	});</pre>
	<h2>IFrame</h2>
	<pre>&lt;iframe
style=&quot;width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;&quot; 
src=&quot;http://monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&quot;&gt;&lt;/iframe&gt;
	</pre>
	<iframe style="width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;" src="http://monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW"></iframe>

	<h2>Олон хэл</h2>
	<pre>&lt;iframe
	style=&quot;width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;&quot; 
	src=&quot;http://monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&amp;currency_title=Currency&amp;currency_rate_title=Rate&amp;source=Source&quot;&gt;&lt;/iframe&gt;
		</pre>
<iframe
	style="width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;" 
	src="http://monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&currency_title=Currency&currency_rate_title=Rate&source=Source"></iframe>

</body>
</html>

