<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ханш татагч</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Монгол банкны албан ханш татагч. " />

    <meta name="keywords" content="Ханш татагч, Ханш, Монголбанк, monxansh, monxansh.appspot.com" />
    <meta name="robots" content="follow" />
    <meta name="robots" content="index, follow" />

    <meta name="author" content="ankhaatk" />
    <meta name="language" content="mn" />


    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
  </head>
<body>
    <div class="container">

      <div class="row">
        <div class="span12">
          <h1>Монгол банкны ханш татагч</h1>
          <hr />

          <a href="https://github.com/Ankhbayar/monxansh">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
          </a>

        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="plus_one_div">
            <g:plusone href="https://monxansh.appspot.com"  size="tall" width="300" annotation="inline"></g:plusone>
          </div>
        </div>
        <div class="span4">
           <div class="facebook_div">
            <div id="fb-root"></div>
                <fb:like href="https://monxansh.appspot.com/" send="true" width="300" show_faces="true" action="like" font=""></fb:like>
            </div>
       </div>
        <div class="span4">
          <div class="twitter_div">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://monxansh.appspot.com" data-count="horizontal">Tweet</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3>JSON format for jQuery</h3>
          <pre class="prettyprint lang-js">jQuery.ajax({
  url : '//monxansh.appspot.com/xansh.json?currency=USD|EUR',
  data_type: 'json',
  success : function(data) {
    jQuery.each(data, function(index, row) {
      // Format
      // row.code       - Код USD, EUR...
      // row.name       - Нэр
      // row.rate       - Ханш
      // row.rate_float - Ханш
      // row.last_date  - Мэдээний огноо
      alert(row.code);
  });
}
});</pre>
        </div>
        <div class="span6">
          <h2>GET Параметерүүд</h2>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Параметр</th>
                <th>Тайлбар</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>currency</code></td>
                <td> Харах ханшууд. Валютын 3 үсэгтэй кодуудыг | ээс тусгаарлан илгээх. <br/>
                  Жишээ : <code>currency=USD|EUR|JPY|GBP|RUB|CNY|KRW</code>
                </td>
              </tr>
              <tr>
                <td><code>currency_rate_title</code></td>
                <td>  Ханш багнын гарчиг солих. </td>
              </tr>
              <tr>
                <td><code>currency_title</code></td>
                <td>  Валют багнын гарчиг солих.  </td>
              </tr>
              <tr>
                <td><code>source</code></td>
                <td>  Эх сурвалж текстийг солих </td>
              </tr>
              <tr>
                <td><code>conv_tool</code></td>
                <td> Ханш хөрвүүлэх түүл гарна </td>
              </tr>
              <tr>
                <td><code>myorder</code></td>
                <td> Ханш харагдах дараалалыг currency parameter -ээс авна </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <h3>IFrame ээр</h3>
            <pre class="prettyprint lang-html">&lt;iframe
      style=&quot;width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;&quot;
      src=&quot;//monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&quot;&gt;&lt;/iframe&gt;
          </pre>
        </div>
        <div class="span4">
          <iframe style="width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;" src="//monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW"></iframe>
        </div>
      </div>
      <div class="row">

        <div class="span8">
          <h2>Ханш хөрвүүлэгчтэй гаргах</h2>
            <p>Жаахан том зай хэрэгтэй.</p>
            <pre class="prettyprint lang-html">&lt;iframe
      style=&quot;width:210px;font-size:11px;height:280px;border: none;overflow:hidden;margin:0;&quot;
      src=&quot;//monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&amp;conv_tool=1&quot;&gt;&lt;/iframe&gt;
          </pre>
        </div>
        <div class="span4">
          <iframe style="width:210px;font-size:11px;height:280px;border: none;overflow:hidden;margin:0;" src="//monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&conv_tool=1"></iframe>
        </div>
      </div>
      <div class="row">

        <div class="span8">
          <h2>Олон хэл</h2>
            <pre class="prettyprint lang-html">&lt;iframe
              style=&quot;width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;&quot;
      src=&quot;//monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&amp;currency_title=Currency&amp;currency_rate_title=Rate&amp;source=Source&quot;&gt;&lt;/iframe&gt;</pre>
        </div>
        <div class="span4">
          <iframe style="width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;" src="//monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&currency_title=Currency&currency_rate_title=Rate&source=Source"></iframe>
        </div>
      </div>

    <hr />

    </div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//connect.facebook.net/en_US/all.js#appId=225646060820419&xfbml=1"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1019855-8']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

  </body>
</html>
