<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ханш татагч</title>

<link rel="Shortcut Icon" href="favicon.ico" /> 
</head>
<body>
	<h1>Монгол банкы ханш татагч</h1>
	ашиглах заавар
	<h2>jQuery</h2>
	<def>$.ajax( datatype :'json', url: 'http://monxansh.appspot.com/xansh.json?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW', .... )</def>
	<h2>IFrame</h2>
	<iframe style="width:180px;font-size:11px;height:210px;border: none;overflow:hidden;margin:0;" src="http://monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW"></iframe>


</body>
</html>

